@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;1,400;1,500&family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Baloo+Da+2:wght@400;500;600;700&family=Chivo:ital,wght@0,700;1,400&family=Hind+Siliguri:wght@300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: linear-gradient(to bottom, rgb(229 128 158), rgb(24 42 181));
}
.wrapper{
    width: 375px;
    background: #edeeef;
    border-radius: 5px;
}
.wrapper .title{
    line-height: 80px;
    background: linear-gradient(to bottom, rgb(14 28 95), rgb(100 84 186));
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.wrapper form{
    padding: 30px 20px 25px 20px;
}

.wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
}

.wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
}
.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 4%;
    color: #2b0202;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #16a085;
    border-radius: 5px 0 0 5px;
}
.wrapper form .button input{
    padding-left: 0px;
    background: #16a085;
    color: #fff;
    border:1px solid #16a085;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}


















