.container{
    background-color: aliceblue;
}
.header{
    background-image: linear-gradient(to bottom, rgba(53, 73, 185, 0.52), rgba(117, 19, 93, 0.73)),url("./img/java.jpg");
    margin-top: 40px;
    background-size: cover;
    color: white;
    padding-bottom: 80px;
 }
 .intro h2{
     font-size: 50px;
     line-height: inherit;
     letter-spacing: 1.5px;
     width:100%;
     text-align: center;
 }
 .intro ul li{
     list-style: none;
     float: left;
     width: 100px;
     text-align: center;
     font-size: 25px;
     cursor: pointer;
 }
 .intro ul:hover{
     color: orange;   
 }
 .intro a button{
     text-decoration: none;
     border: none;
     text-align: center;
     margin-left: 20px;
     background: orange;
     border-radius: 27px;
     width: 112px;
     padding: 9px;
     font-size: 20px;
 }
 .intro a i {
     font-size: 25px;
 }
 .intro a button:hover{
     color: white;
     background: black;
     transition: 0.5s;
 }
 .knowWebdesign{
    border-radius: 15px;
 }
 .knowWebdesign button{
    text-decoration: none;
    border:none;
    text-align: center;
    margin-left: 20px;
    color: white;
    background: rgb(2, 2, 65);
    border-radius: 18px;
    width: 130px;
    padding: 5px;
    font-size: 17px;
    margin-top: 12px;
 }  
 .knowWebdesign button:hover{
    color: white;
    background: black;
    transition: 0.5s;
 }
.knowWebdesign2{
    border-radius: 15px;
    margin-bottom: 10px;
}
.knowWebdesign2 button{
    text-decoration: none;
    border:none;
    text-align: center;
    margin-left: 20px;
    color: white;
    background: rgb(2, 2, 65);
    border-radius: 18px;
    width: 130px;
    padding: 5px;
    font-size: 17px;
    margin-top: 12px;
 }  
 .knowWebdesign2 button:hover{
    color: white;
    background: black;
    transition: 0.5s;
 }

.knowWebdesign3 button{
    text-decoration: none;
    border:none;
    text-align: center;
    margin-left: 20px;
    color: white;
    background: rgb(2, 2, 65);
    border-radius: 18px;
    width: 130px;
    padding: 5px;
    font-size: 17px;
    margin-top: 12px;
 }  
 .knowWebdesign3 button:hover{
    color: white;
    background: black;
    transition: 0.5s;
 }  
.ordernow .col-lg-3 button{
    text-decoration: none;
    border:none;
    text-align: center;
    color: white;
    background: #0a58ca;
    border-radius: 35px;
    width: 232px;
    padding: 4px;
    margin-top: 5px;
}
.ordernow .col-lg-3 button:hover{
    color: white;
    background: black;
    transition: 0.2s ;
}
.ordernow .col-lg-3 ul{
    list-style: none;
    color: black;
}
.col-lg-6 .exper{
    background-image: linear-gradient(to bottom, rgba(74, 98, 238, 0.52), rgba(117, 19, 93, 0.73)),url("./img/header1.jpg");
    color:white;
    height: 490px;
    border-radius: 30px;
}






