.header{
    background-image: url("./img/java.jpg");
    margin-top: 40px;
    background-size: cover;
    color: white;
    padding-bottom: 80px;
 }
 .intro h2{
     font-size: 50px;
     line-height: inherit;
     letter-spacing: 1.5px;
     width: 375px;
     text-align: center;
 }
 .intro ul li{
     list-style: none;
     float: left;
     width: 100px;
     border-right: 1px solid black;
     text-align: center;
     font-size: 25px;
     cursor: pointer;
 }
 .intro ul:hover{
     color: orange;   
 }
 .intro a button{
     text-decoration: none;
     border: none;
     text-align: center;
     margin-left: 20px;
     background: orange;
     border-radius: 18px;
     width: 90px;
     padding: 5px;
     font-size: 17px;
 }
 .intro a button:hover{
     color: white;
     background: black;
     transition: 0.5s;
 }
    