@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;1,400;1,500&family=Baloo+Da+2:wght@400;500;600;700&family=Chivo:ital,wght@0,700;1,400&family=Hind+Siliguri:wght@300;400;500;600;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');
.container{
    background-color:#0c0b44fa;
    color: white;
}
.header{
    background-image: linear-gradient(to bottom, rgba(53, 73, 185, 0.52), rgba(117, 19, 93, 0.73)),url("./img/java.jpg");
    margin-top: 40px;
    background-size: cover;
    color: white;
    padding-bottom: 80px;
 }
 .intro h2{
     font-size: 50px;
     line-height: inherit;
     letter-spacing: 1.5px;
     width:100%;
     text-align: center;
     text-shadow: 2px 2px #d3617c38;
 }
 .intro ul li{
     list-style: none;
     float: left;
     width: 100px;
     text-align: center;
     font-size: 25px;
     cursor: pointer;
 }
 .intro ul:hover{
     color: orange;   
 }
 .intro a button{
     text-decoration: none;
     border: none;
     text-align: center;
     margin-left: 20px;
     background: orange;
     border-radius: 27px;
     width: 112px;
     padding: 9px;
     font-size: 20px;
 }
 .intro a i {
     font-size: 25px;
 }
 .intro a button:hover{
     color: white;
     background: black;
     transition: 0.5s;
 }
 .knowWebdesign{
    border-radius: 15px;
 }
 
 .knowWebdesign button{
    text-decoration: none;
    border:none;
    text-align: center;
    margin-left: 20px;
    color: white;
    background: rgb(58 0 255);
    border-radius: 18px;
    width: 130px;
    padding: 5px;
    font-size: 17px;
    margin-top: 12px;
 }  
 .knowWebdesign button:hover{
    color: white;
    background: black;
    transition: 0.5s;
 }
.knowWebdesign2{
    border-radius: 15px;
    margin-bottom: 10px;
}
.knowWebdesign2 button{
    text-decoration: none;
    border:none;
    text-align: center;
    margin-left: 20px;
    color: #ffffff;
    background: rgb(11 11 250);
    border-radius: 18px;
    width: 130px;
    padding: 5px;
    font-size: 17px;
    margin-top: 12px;
 }  
 .knowWebdesign2 button:hover{
    color: white;
    background: black;
    transition: 0.5s;
 }

.knowWebdesign3 button{
    text-decoration: none;
    border:none;
    text-align: center;
    margin-left: 20px;
    color: white;
    background: rgb(6 6 255);
    border-radius: 18px;
    width: 130px;
    padding: 5px;
    font-size: 17px;
    margin-top: 12px;
 }  
 .knowWebdesign3 button:hover{
    color: white;
    background: black;
    transition: 0.5s;
 }
 .knowWebdesign3 img{
    background-image: linear-gradient(to bottom, rgb(122 89 112), rgb(44 60 177));;
 }  
.ordernow .col-lg-12 button{
    text-decoration: none;
    border:none;
    text-align: center;
    color: white;
    background: #0a58ca;
    border-radius: 35px;
    width: 232px;
    padding: 4px;
    margin-top: 5px;
}
.ordernow .col-lg-12 button:hover{
    color: white;
    background: black;
    transition: 0.2s ;
}
.ordernow .col-lg-12 ul{
    list-style: none;
    color: black;
}
.col-lg-6 .exper{
    background-image: linear-gradient(to bottom, rgb(1 119 165), rgb(194 17 179 / 73%)),url(./img/header1.jpg);
    height: 490px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 8px 0 rgb(255 0 141 / 49%), 0 6px 20px 0 rgb(0 0 0 / 71%);
}


.col-lg-4 .bg1{
    background-image: linear-gradient(to bottom, rgb(203 41 232), rgb(44 60 177));
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgb(52 131 255 / 82%), 0 6px 20px 0 rgb(255 124 124);
    height: 300px;
}
.col-lg-4 .bg1 h3{
    padding-top: 30px;
    font-size: 42px;
}
.col-lg-4 .bg1 a button{
    border: none;
    width: 127px;
    background: #ffffff;
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
}
.col-lg-4 .bg1 a button:hover{
    color: white;
    background: black;
    transition: 0.5s;
}
.col-lg-4 .bg1 p{
    letter-spacing: 0.5px;
    font-size: 20px;
}

.col-lg-4 .bg2{
    background-image: linear-gradient(to bottom, rgb(122 89 112), rgb(44 60 177));
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgb(235 3 177 / 82%), 0 6px 20px 0 rgb(212 9 237 / 19%);
    height: 300px;
}
.col-lg-4 .bg2 h3{
    padding-top: 30px;
    font-size: 42px;
}
.col-lg-4 .bg2 a button{
    border: none;
    width: 127px;
    background: #ffffff;
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
}
.col-lg-4 .bg2 a button:hover{
    color: white;
    background: black;
    transition: 0.5s;
}
.col-lg-4 .bg2 p{
    letter-spacing: 0.5px;
    font-size: 20px;
}

.col-lg-4 .bg3{
    background-image: linear-gradient(to bottom, rgb(142 207 135), rgb(44 60 177));
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgb(138 119 228 / 82%), 0 6px 20px 0 rgb(42 54 158);
    height: 300px;
}
.col-lg-4 .bg3 h3{
    padding-top: 30px;
    font-size: 42px;
}
.col-lg-4 .bg3 a button{
    border: none;
    width: 127px;
    background: #ffffff;
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
}
.col-lg-4 .bg3 a button:hover{
    color: white;
    background: black;
    transition: 0.5s;
}
.col-lg-4 .bg3 p{
    letter-spacing: 0.5px;
    font-size: 20px;
} 

.col-lg-4 .bg4{
    background-image: linear-gradient(to bottom, rgb(207 135 148), rgb(181 0 255));
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgb(104 210 0 / 82%), 0 6px 20px 0 rgb(172 36 36 / 19%);
    height: 340px;
}
.col-lg-4 .bg4 h3{
    padding-top: 58px;
    font-size: 42px;
}
.col-lg-4 .bg4 a button{
    border: none;
    width: 127px;
    background: #ffffff;
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
}
.col-lg-4 .bg4 a button:hover{
    color: white;
    background: black;
    transition: 0.5s;
}
.col-lg-4 .bg4 p{
    letter-spacing: 0.5px;
    font-size: 20px;
}

.col-lg-4 .bg5{
    background-image: linear-gradient(to bottom, rgb(28 11 16), rgb(44 60 177));
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgb(255 118 118 / 82%), 0 6px 20px 0 rgb(49 67 145 / 19%);
    height: 340px;
}
.col-lg-4 .bg5 h3{
    padding-top: 60px;
    font-size: 42px;
}
.col-lg-4 .bg5 a button{
    border: none;
    width: 127px;
    background: #ffffff;
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
}
.col-lg-4 .bg5 a button:hover{
    color: white;
    background: black;
    transition: 0.5s;
}
.col-lg-4 .bg5 p{
    letter-spacing: 0.5px;
    font-size: 20px;
}

.col-lg-4 .bg6{
    background-image: linear-gradient(to bottom, rgb(237 40 98 / 68%), rgb(44 60 177));
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgb(78 93 255), 0 6px 20px 0 rgb(0 0 0 / 19%);
    height: 340px;
}
.col-lg-4 .bg6 h3{
    padding-top: 59px;
    font-size: 42px;
}
.col-lg-4 .bg6 a button{
    border: none;
    width: 127px;
    background: #ffffff;
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
}
.col-lg-4 .bg6 a button:hover{
    color: white;
    background: black;
    transition: 0.5s;
}
.col-lg-4 .bg6 p{
    letter-spacing: 0.5px;
    font-size: 20px;
}
.col-lg-6 .location iframe{
    height: 353px;
    width: 95%;
    margin: 4px 4px;
}
.col-lg-6 .location2 iframe{
    height: 353px;
    width: 95%;
    margin: 4px 4px;
}

























