@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;1,400;1,500&family=Baloo+Da+2:wght@400;500;600;700&family=Chivo:ital,wght@0,700;1,400&family=Hind+Siliguri:wght@300;400;500;600;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');
.container{
    background-color: aliceblue;
}
.header{
    background-image: linear-gradient(to bottom, rgba(53, 73, 185, 0.52), rgba(117, 19, 93, 0.73)),url("./img/java.jpg");
    margin-top: 40px;
    background-size: cover;
    color: white;
    padding-bottom: 80px;
 }
 .intro h2{
     font-size: 50px;
     line-height: inherit;
     letter-spacing: 1.5px;
     width:100%;
     text-align: center;
     text-shadow: 2px 2px #d3617c38;
 }
 .intro ul li{
     list-style: none;
     float: left;
     width: 100px;
     text-align: center;
     font-size: 25px;
     cursor: pointer;
 }
 .intro ul:hover{
     color: orange;   
 }
 .intro a button{
     text-decoration: none;
     border: none;
     text-align: center;
     margin-left: 20px;
     background: orange;
     border-radius: 27px;
     width: 112px;
     padding: 9px;
     font-size: 20px;
 }
 .intro a i {
     font-size: 25px;
 }
 .intro a button:hover{
     color: white;
     background: black;
     transition: 0.5s;
 }
 .knowWebdesign{
    border-radius: 15px;
 }
 .knowWebdesign button{
    text-decoration: none;
    border:none;
    text-align: center;
    margin-left: 20px;
    color: white;
    background: rgb(2, 2, 65);
    border-radius: 18px;
    width: 130px;
    padding: 5px;
    font-size: 17px;
    margin-top: 12px;
 }  
 .knowWebdesign button:hover{
    color: white;
    background: black;
    transition: 0.5s;
 }
.knowWebdesign2{
    border-radius: 15px;
    margin-bottom: 10px;
}
.knowWebdesign2 button{
    text-decoration: none;
    border:none;
    text-align: center;
    margin-left: 20px;
    color: white;
    background: rgb(2, 2, 65);
    border-radius: 18px;
    width: 130px;
    padding: 5px;
    font-size: 17px;
    margin-top: 12px;
 }  
 .knowWebdesign2 button:hover{
    color: white;
    background: black;
    transition: 0.5s;
 }

.knowWebdesign3 button{
    text-decoration: none;
    border:none;
    text-align: center;
    margin-left: 20px;
    color: white;
    background: rgb(2, 2, 65);
    border-radius: 18px;
    width: 130px;
    padding: 5px;
    font-size: 17px;
    margin-top: 12px;
 }  
 .knowWebdesign3 button:hover{
    color: white;
    background: black;
    transition: 0.5s;
 }  
.ordernow .col-lg-12 button{
    text-decoration: none;
    border:none;
    text-align: center;
    color: white;
    background: #0a58ca;
    border-radius: 35px;
    width: 232px;
    padding: 4px;
    margin-top: 5px;
}
.ordernow .col-lg-12 button:hover{
    color: white;
    background: black;
    transition: 0.2s ;
}
.ordernow .col-lg-12 ul{
    list-style: none;
    color: black;
}
.col-lg-6 .exper{
    background-image: linear-gradient(to bottom, rgb(135 241 168), rgba(117, 19, 93, 0.73)),url(./img/header1.jpg);
    color: #210505db;
    height: 490px;
    border-radius: 30px;
}
.col-lg-4 .bg1{
    background-image: linear-gradient(to bottom, rgb(68 150 98), rgb(69 39 159 / 73%)),url(./img/html5.png);
    color: white;
    width: 390px;
    height: 295px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgb(16 6 6 / 82%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.col-lg-4 .bg1 h3{
    padding-top: 78px;
    font-size: 42px;
}
.col-lg-4 .bg1 a button{
    border: none;
    width: 127px;
    background: #ffffff;
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
}
.col-lg-4 .bg1 p{
    letter-spacing: 0.5px;
    font-size: 20px;
}
.col-lg-4 .bg1 a button:hover{
    background: black;
    color: white;
    transition: 0.5s;
}
.col-lg-4 .bg2{
    background-image: linear-gradient(to bottom, rgb(68 150 98), rgb(69 39 159 / 73%)),url(./img/graphic.jpg);
    color: white;
    width: 390px;
    height: 295px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgb(16 6 6 / 82%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.col-lg-4 .bg2 h3{
    padding-top: 25px;
    font-size: 42px;
}
.col-lg-4 .bg2 a button{
    border: none;
    width: 127px;
    background: #ffffff;
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
}
.col-lg-4 .bg2 p{
    letter-spacing: 0.5px;
    font-size: 20px;
}
.col-lg-4 .bg2 a button:hover{
    background: black;
    color: white;
    transition: 0.5s;
}
